@model WorkoutAnalytics.UI.Models.UserTemplate

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserTemplate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TemplateDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TemplateDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DayOfTheWeek)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayOfTheWeek)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TemplateID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
