@model IEnumerable<WorkoutAnalytics.UI.Models.UserTemplate>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TemplateDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DayOfTheWeek)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TemplateDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DayOfTheWeek)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TemplateID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TemplateID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TemplateID })
        </td>
    </tr>
}

</table>
