@model IEnumerable<WorkoutAnalytics.UI.Models.Workout>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    <p>Find by Workout: @Html.TextBox("SearchString")<input type="submit" value="Search" /></p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Body Area", "Index", new { sortOrder = ViewBag.WorkoutBodyAreaParam })
        </th>
        <th>
            @Html.ActionLink("Workout Description", "Index", new { sortOrder = ViewBag.WorkoutDescParam })
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkoutBodyArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkoutDesc)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
